# Python-related temp files
*.egg-info/
**/__pycache__/
.coverage
.pytest_cache/
.ipynb_checkpoints/
.vscode/

# Project's data
testing_data

# Pycharm stuff
*.pyc
.idea
venv

# Sphinx stuff
docs/build/

# OS-related files/folders
__MACOSX/
.DS_Store
