click==8.1.8
cloup==3.0.5
coverage==7.6.11
dataclasses==0.6
dcm2bids==3.2.0
dcm2niix==1.0.20241211
importlib-metadata==6.8
joblib==1.4.2
matplotlib==3.10
nibabel==5.3.2
numpy==2.2.2
phantominator==0.6.4
pillow==11.1.0
psutil==6.1.1
pydicom==3.0.1
pytest==8.3.4
pytest-cov==6.0.0
quadprog==0.1.13
raven==6.10.0
requests==2.32.3
scikit-learn==1.6.1
scipy==1.15.1
spec2nii==0.8.5
tqdm==4.66.4