click==8.2.1
click-option-group==0.5.6
cloup==3.0.7
dataclasses==0.6
dcm2bids==3.2.0
dcm2niix==1.0.20250506
importlib-metadata==6.10.0
joblib==1.5.1
matplotlib==3.10.3
matplotlib-inline==0.1.7
nibabel==5.3.2
numpy==2.2.6
pillow==11.3.0
psutil==7.0.0
pytest==8.4.1
pytest-cov==6.2.1
quadprog==0.1.13
raven==6.10.0
requests==2.32.3
scikit-learn==1.7.1
scipy==1.13.1
spec2nii==0.8.3
sphinx-click==6.0.0
tqdm==4.66.4
