click==8.4.1
click-option-group==0.5.6
cloup==3.1.0
dataclasses==0.6
dcm2bids==3.2.0
dcm2niix==1.0.20260416
joblib==1.5.3
matplotlib==3.10.9
matplotlib-inline==0.2.2
nibabel==5.4.2
numpy==2.4.6
phantominator==0.7.0
pillow==11.3.0
psutil==7.2.2
pydicom==3.0.2
pytest==9.1.1
pytest-cov==7.1.0
quadprog==0.1.13
raven==6.10.0
requests==2.32.3
scikit-learn==1.9.0
scipy==1.17.1
spec2nii==0.8.12
sphinx-click==6.2.0
tqdm==4.66.4
urllib3==2.2.2
