click==8.1.8
click-option-group==0.5.6
cloup==3.0.6
dataclasses==0.6
dcm2bids==3.2.0
dcm2niix==1.0.20241211
importlib-metadata==6.10.0
joblib==1.4.2
matplotlib==3.10.1
matplotlib-inline==0.1.7
nibabel==5.3.2
numpy==2.2.3
pillow==11.1.0
psutil==7.0.0
pydicom==3.0.1
pytest==8.3.5
pytest-cov==6.0.0
quadprog==0.1.13
raven==6.10.0
requests==2.32.3
scikit-learn==1.6.1
scipy==1.15.2
spec2nii==0.8.5
sphinx-click==6.0.0
tqdm==4.66.4
