name: Pre-commit check hooks
on:
  push:
    branches:
      - main
  pull_request:
    branches:
      - main


jobs:
  pre-commit-checks:
    runs-on: 'ubuntu-latest'
    steps:
      - name: Checkout repo
        uses: actions/checkout@v3
      - name: Setup Python
        uses: actions/setup-python@v2
        with:
          python-version: '3.9'
      - name: Cache pip dependencies
        id: cache-pip-dependencies
        uses: actions/cache@v2
        with:
          # Ubuntu-specific, see
          # https://github.com/actions/cache/blob/main/examples.md#python---pip
          path: ~/.cache/pip
          key: ${{ runner.os }}-pip-${{ hashFiles('**/setup.py') }}
          restore-keys: |
            ${{ runner.os }}-pip-
      - name: Install fsleyes-plugin-shimming-toolbox
        if: steps.cache-pip-dependencies.cache-hit != 'true'
        run: |
          pip install .
      - name: Run pre-commit large file check
        run: pre-commit run --all-files check-added-large-files
      - name: Run pre-commit Python syntax check
        run: pre-commit run --all-files check-ast
      - name: Run pre-commit merge conflict string check
        run: pre-commit run --all-files check-merge-conflict
      - name: Run pre-commit YAML check # for GitHub Actions configs
        run: pre-commit run --all-files check-yaml
