name: CI-Tests

on:
  # Triggers the workflow on push or pull request events but only for the master branch
  push:
    branches:
      - master
  pull_request:
    branches:
      - master
  # Allows you to run this workflow manually from the Actions tab
  workflow_dispatch:

jobs:
  test:
    env:
      FSLOUTPUTTYPE: NIFTI_GZ
    runs-on: ${{ matrix.os }}
    strategy:
      matrix:
        os:
          - 'macos-10.15'
          - 'macos-11.0'
          - 'ubuntu-18.04'
          - 'ubuntu-20.04'
          - 'ubuntu-16.04'
        python-version:
          - '3.7'
          - '3.8'

    steps:
      - uses: actions/checkout@v2

      - name: Set XCode version
        if: contains(matrix.os, 'macos-11.0')
        run: sudo xcode-select -s "/Applications/Xcode_12.2.app"

      - name: Set up Python
        uses: actions/setup-python@v2
        with:
          python-version: ${{ matrix.python-version }}

      - name: Package installation
        run: |
          echo "shimming-toolbox installation"
          pip install .

      - name: dcm2niix macOS
        if: contains(matrix.os, 'macos')
        run: brew install dcm2niix

      - name: dcm2niix Ubuntu
        if: contains(matrix.os, 'ubuntu')
        run: |
          curl -JLO https://github.com/rordenlab/dcm2niix/releases/latest/download/dcm2niix_lnx.zip
          unzip -o dcm2niix_lnx.zip
          sudo install dcm2nii* /usr/bin/

      - name: SpinalCord Toolbox v5.0.1 installation macOS
        if: contains(matrix.os, 'macos')
        run: |
          mkdir spinalcordtoolbox-5.0.1
          curl -o spinalcordtoolbox-5.0.1 -JL https://github.com/neuropoly/spinalcordtoolbox/archive/5.0.1.zip
          cd spinalcordtoolbox-5.0.1
          yes | ./install_sct

      - name: SpinalCord Toolbox v5.0.1 installation Ubuntu
        if: contains(matrix.os, 'ubuntu')
        run: |
          curl -JLO https://github.com/neuropoly/spinalcordtoolbox/archive/5.0.1.zip
          unzip -o spinalcordtoolbox-5.0.1.zip
          cd spinalcordtoolbox-5.0.1
          yes | ./install_sct

      - name: prelude macOS
        if: contains(matrix.os, 'macos')
        run: |
          echo "Download prelude for macOS"
          mkdir prelude
          curl -o prelude/prelude -JL https://github.com/shimming-toolbox/binaries/raw/master/prelude_macos
          sudo install prelude/prelude /usr/local/bin

      - name: prelude Ubuntu
        if: contains(matrix.os, 'ubuntu')
        run: |
          echo "Download prelude"
          st_download_data prelude
          sudo install prelude/prelude /usr/local/bin

      - name: Check dependencies
        run: st_check_dependencies

      - name: Run unit tests
        run: py.test --ignore=spinalcordtoolbox-5.0.1/ -v --cov shimmingtoolbox/ --cov-report term-missing

      - name: macOS Shellcheck
        if: contains(matrix.os, 'macos')
        run: brew install shellcheck

      - name: Shellcheck
        run: |
          echo "Check Bash scripts"
          if [[ -n "$(ls examples/*.sh)" ]]; then shellcheck examples/*.sh; fi


      - name: Upload Coverage
        run: |
          pip3 install coveralls
          coveralls
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
          COVERALLS_FLAG_NAME: ${{ matrix.os }}-Python-${{ matrix.python-version }}
          COVERALLS_PARALLEL: true
  coveralls:
    name: Finish Coveralls
    needs: test
    runs-on: 'ubuntu-18.04'
    steps:

    - name: Set up Python
      uses: actions/setup-python@v2
      with:
        python-version: '3.7'
    - name: Finished
      run: |
        pip3 install --upgrade coveralls
        coveralls --finish
      env:
        GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
